.disabled{
  color:lightgrey;
}
.box{
  background-color: rgb(0, 149, 255);
}

.bounce:hover {
  transform-origin: 50% 100%;
  animation: bounce-animation 1s ease 0s 1 normal both running;
}

@keyframes bounce-animation {

  0%,
  20%,
  53% {
      transform: none;
      animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
  }

  40%,
  43% {
      transform: translate(0px, -30px) scale(1, 1.1);
      animation-timing-function: cubic-bezier(0.64, 0, 0.78, 0);
  }

  70% {
      transform: translate(0px, -15px) scale(1, 1.05);
      animation-timing-function: cubic-bezier(0.64, 0, 0.78, 0);
  }

  80% {
      transform: translate(0px, 0px) scale(1, 0.95);
      animation-timing-function: cubic-bezier(0.33, 1, 0.68, 1);
  }

  90% {
      transform: translate(0, -4px) scale(1, 1.02);
  }

  100% {
      transform: none;
  }
}